header {
    /* width: 100%; */
    box-sizing: border-box;
    height: 8rem;
    border-bottom: 2px solid #eee;
}

h3 {
    margin: .5rem 0;
}

h4 {
    margin: 0rem;
}

.row {
    /* width: 100%; */
    /* display: flex; */
    margin-left: 15px;
    margin-right: 15px;
}

.topbar {
    display: flex;
}

.container {
    max-width: 100%;

}

.col-6{
    width: 50%;
}

.text-block {
    display: flex;
    justify-content: flex-start;
    margin: .0rem 0;
}

.right {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 1.2rem;
    /* margin-right: 15px; */
}

.text-welcome h3{
    font-weight: 250;
}

.text-brand h4 {
    font-size: 1.8rem;
    color: rgb(209, 89, 89);
}

.text-series {
    margin-left: .5rem;
}

.text-series h4{
    font-size: 1.8rem;
    color: rgb(30, 127, 192);
}

.block-student {
    width: 12rem;
    height: 3rem;
    background-color: rgb(233, 128, 128);
    text-align: center;
    border: .5px solid rgb(194, 106, 106);
    cursor: pointer;
    margin-left: 1rem;
}

.block-package {
    width: 12rem;
    height: 3rem;
    background-color: rgb(60, 139, 192);
    text-align: center;
    border: .5px solid rgb(51, 120, 167);
}

.block-student h6, .block-package h6 {
    color: #fff;
    font-size: 1.5rem;
    margin: auto;
    margin-top: .75rem;
}

.logo {
    width: 30px;
    height: 45px;
    margin-top: 5px;
    margin-right: 5px;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item{
    /* text-decoration: none; */
    width: fit-content;
    padding: 10;
    position: relative;
}

li p{
    padding-left: 2rem;
    padding-right: 2rem;
}

.dropdown {
    margin-left: 5px;
    height: 8px;
    width: 10px;
    margin-bottom: 1px;

}

.dropdown-content {
    display: none;
    position: absolute;
    width: fit-content;
    color: #000;
    min-width: 10rem;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rbga(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    border-bottom: 3px solid #f9f9f9;
    padding-bottom: 5px;
    /* color: rgb(60, 139, 192); */
}

.dropdown-content-dot {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #aaa;
}

.nav-menu li:hover .dropdown-content{
    display: block;
}

.dropdown-content p {
    display: flex;
    box-sizing: border-box;
}

.nav-menu li:hover .nav-item span{
    border-bottom: 3px solid rgb(60, 139, 192);
    
    color: rgb(60, 139, 192);
}

 .pee:hover .dropdown-content-dot  {
    background-color:rgb(60, 139, 192)!important;
}

.dropdown-item:hover {
    border-bottom: 3px solid rgb(60, 139, 192);
    padding-bottom: 5px;
    color: rgb(60, 139, 192);
}

