main {
    padding: 4rem;
    display: flex;
    justify-content: flex-end;
    background-image: url(../../assets/images/background3.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    height: calc(100vh - 32rem);
    min-height: 42rem;
}
 
.Homefooter {
    /* width: 100%; */
    /* position: absolute; */
    
}

@media (max-height: 500px) {
    .Homefooter {
        width: 100%;
        position:absolute;
        bottom: 0;
    }
}